.container {
display:flex;
flex-direction: column;
justify-content: center;
max-width:max-content;
height: 34em;
/* //para centra */
align-items: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

background-color: #474747a1;
transition: box-shadow 1s ease-in-out;
border-radius: 32px;
border: solid  #1212127b;

&:hover {
    background-color: #626262a1;
  box-shadow: 5px 5px 10px  #037dff;
  transition: box-shadow 1s ease-in-out;
  color: #fff;
  cursor: pointer;
  }
}

.input {
    margin:0.5em 0.7em 0.3em 0.7em;
    width: 20em;
    padding: 0.5em;
    border-radius: .25rem;
   align-items: center;
   border-radius:25rem;
   color: #fff;
   background: -webkit-linear-gradient(to right,rgba(3, 133, 255, 0.843), #2791fc72);  
   background: linear-gradient(to right, #1c98ea, #0c6bcabd);
   box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9);
   &::placeholder {
    color: #fff;
    }
   
}
.error{
 color: #ff0303;
 font-weight: 500;
 font-size: medium;
 text-align: center;
 margin-top:0.3em ;
}
.boton {
    font-size: medium;
    padding: 1em 1.5em;
    border-radius: 25rem;
    background-color: #474747b0;
  color: #fff;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9);
    &:hover {
        background: #0878e8cd;
        background: -webkit-linear-gradient(
          to right,
          rgba(2, 133, 255, 0.843),
          #2791fc72
        );
    }
}
.containerInput{
    margin:0em 1em;
    text-align: right;
    color: #ffffff;
    font-size: medium;
    
}

.container img {
    margin:  2em;
    width: 14em;
}
