.tarjeta {
position: relative;
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 2em;
padding: 1em 0;
width: 20rem;
background-color: rgba(53, 49, 49, 0.638);
transition: background-color 1s ease-in-out;
border-radius: 32px;
border: solid rgba(255, 255, 255, 0.751);

&:hover {
  background-color: rgba(11, 124, 229, 0.843);
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9);
  transition: background-color 1s ease-in-out;
  }
}
.imagen {
  width: 15em;
   padding:0;
   border-radius: 50%;
   border-style:solid;
   border-color: rgb(0, 0, 0);
   box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9);
   display: flex;
   align-self:center;
} 
.boton {
    background-color: #1577e0;
    color: antiquewhite;
     margin-right: 1em;
    border-radius: 50%;
    border: 2px solid black;
    width: 2.5rem;
    height: 2.5rem;
    text-align:center;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9);
    align-self:flex-end;
    &:hover {
        background-color: #145ba7;
        cursor: pointer;
        }
}
.nombre {
  width: 8em;
  padding: 0.7em;
  background-color: #1577e0;
  color:#ffffff;
  border-radius: 2em;
  text-align: center;

}
.info {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  color:#ffffff;
}
