.Title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0em;
	margin: 0em;
}
.Image {
	height: 15rem;
	
}

@media (max-width: 550px) {
	.Image {
		height: 8rem;
	}
}